<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Raters</title>
</head>
<body>
  <h3>Rater</h3>
    <b>Id: {{ rater.id }}</b>
  <ul>
    <li>Age: {{ rater.age  }}</li>
    <li>Gender: {{ rater.gender }}</li>
    <li>Occupation: {{ rater.occupation }}</li>
    <li>Zip Code: {{ rater.zip_code }}</li>
    <li>Number of movies rated: {{ movies_count }}</li>
    <li>Movies Rated: </li>
    {% for movie in movies %}
    <li><a href="{% url "index" %}movies/{{ movie.id }}"> {{ movie }}</a></li>
    {% endfor %}
    <li><a href="{% url "index" %}">Index</a></li>
  </ul>
</body>
